/**
 * @jest-environment jsdom
 */

import { render } from "@testing-library/react";
import userEvent from "@testing-library/user-event";
import React from "react";

describe("<ComponentName />", () => {
  describe("when instantiating", () => {
    it("should load a ComponentName component", () => {
      const screen = render(<ComponentName />);
      expect(screen.container.firstElementChild.tagName).toBe("INPUT");
    });
    it("should type", () => {
      const screen = render(<ComponentName />);
      userEvent.type(screen.container.firstElementChild, "Typing");
    });
  });
});
